* {
  margin: 0;
  padding: 0;
  font-family: arial;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("images/blue.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.Upload {
  width: 520px;
  background: rgba(53, 53, 54, 0.7);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(39, 39, 39, 0.4);
  border-radius: 10px;
  padding: 30px 40px;
}

.upload h3,
.Upload h1,
.Upload h2 {
  text-align: center;
  margin-bottom: 50px;
}

.form input,
.form textarea {
  width: 100%;
  border-radius: 15px;
  background: rgba(66, 66, 66, 0.6);
  border: none;
  padding: 15px;
  margin-bottom: 15px;
  color: white;
  outline: none;
  resize: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: white;
  font-size: 16px;
}

button {
   margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  background-color: rgb(83, 255, 98);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 550;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  color: white;
}

button:hover {
  background: rgb(64, 204, 75);
}


input[type="file"] {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  background: rgba(66, 66, 66, 0.6);
  color: white;
  border: none;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  background: rgb(192, 192, 192);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 550;
  margin-right: 15px;
  transition: 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background:  rgb(64, 204, 75);
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}
